@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 60px; /* Actual navbar height */
  --footer-height: 100px; /* Actual footer height */
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}